nav {
    position: fixed;
    top: 1rem;
    width: 100%;
    background: #101010;
    
    div{
      display: flex;
      padding: 1rem;
      justify-content: space-between;
      
    }
    
  }
  